.container {
  background-color: #f6f6f7;
  height: 30px;
  margin: 15px 0;
  padding-right: 120px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.container button {
  background-color: inherit;
  border: none;
  color: #888888;
  font-size: 0.7rem;
}
