.container {
  position: relative;
  background-color: #f6f6f7;
  height: 30px;
  margin: 15px 0;
  padding-right: 120px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.container button {
  font-size: 0.8rem;
  cursor: pointer;
  height: 100%;
}

.opened {
  background-color: #fff;
  border: 1px solid var(--border-light-grey);
  border-bottom: none;
  z-index: 1;
}

.closed {
  background-color: inherit;
  border: none;
  color: var(--grey-font);
}

@media (max-width: 1024px) {
  .container {
    padding-right: 20px;
  }
}
